* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(https://c1.staticflickr.com/7/6221/6284817897_177042c27d_b.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

img {
    width: 200px;
    height: 225px;
    padding: 15px;
    background-color: white;
    transition: brackground-color 0.5s;
    box-shadow: inset 0px 0px 40px #565656;
    margin: 15px;
    float: left;
    border-radius: 15px;
}

img:hover {
    background-color: darkgrey;
    box-shadow: inset 0px 0px 15px black;
    cursor:pointer;
}
.mod {
    margin-top: 50px;
}
article {
    margin: auto;
    background-color: floralwhite;
    width: 800px;
    height: 280px;
    border: 3px solid burlywood;
    text-align: justify;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: -40px;
}

p {
    padding: 10px;
}

#dere {
    float: right;
}



div#capsalera {
    margin-top: -51px;
    width: 100%;
    font-family: fantasy;
    position: fixed;
}

ul,ol {
    list-style: none;
}

.nav li a{
   background-color: black; /*color del fons*/
    color: white; /*color de les lletres*/
    text-decoration: none; /*Treu el subrallat del link*/
    padding: 13px 15px;
    display: block;
    min-width: 140px;
}

.nav li{
    width: 20%;
}

.nav>li{
    float: left;
}

.nav li a:hover{
    background-color: darkgray; /*Color al pasar el ratoli*/
    cursor: pointer; /*Canvia de forma el ratoli*/
}

.nav li ul {
    display: none;
    position: absolute;
    width: 280px;
    margin-right: -254px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li{
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}
@media (max-width:800px){
    article {
        margin:auto;
        width: 500px;
        height: 450px;
    }
}

article:hover {
    background-color: lightgoldenrodyellow;
    cursor: url(../imatges/virus-detectado-icono-4657-32.png),default;
}

@media (max-width:500px){
    article {
        margin:auto;
        width: 95%;
        height: 100%;
    }
    img {
    width: 90%;
    height: 90%;
    padding: 15px;
    background-color: white;
    transition: brackground-color 0.5s;
    box-shadow: inset 0px 0px 40px #565656;
    margin: 5px;
    float: left;
    border-radius: 10px;
    }
}